@charset "UTF-8";
/* CSS Document */
@media screen
{
	/* background: #fff0f0; */

	#controller aside {
		background:#fff9f3;
		border-bottom:solid 1px #fdd;
		border-bottom-left-radius:10px;
		position:absolute;
	}

	aside.hashtags {
		border-top-right-radius:10px;
		border-right:none;
		border-top:none;
		color:#606;
		font-family: Consolas, "Andale Mono", Monaco, "monospace";
		padding:5px;
		padding-left:10px;
		padding-right:10px;
		right:0;
		top:0;
	}

	aside.options {
		border-top-left-radius:10px;
		top:90px;
		margin:0;
		padding:5px;
		padding-bottom:0px;
		padding-right:25px;
		right:0;
	}

	div.card-main {
		display:flex;
		height:150px;
		margin:0;
		min-height:150px;
		padding:0;
		width:100%;
	}

	div.card-main embed {
		margin-left:10px;
	}

	div.card-main a.card-link,
	div.card-main div.card-link {
		margin-left:12px;
		position: absolute;
		top:10px;
		text-shadow: 2px 2px white;
	}

	div.card-main h3 {
		margin-bottom:-5px;
	}

	div.card-main div.content {
		flex:1;
	}

	div.frame {
		overflow:hidden;
		width:150px;
	}

	div.frame.song img {
		margin-top:15px;
	}

	div.frame.user img {
		bottom:6px;
		height:150px;
		left:50%;
		position:relative;
		transform:translateX(-50%);
		width:auto;
	}

	div.linear-opacity {
		background:linear-gradient(to right, #fff 25%, transparent 67%);
		border-bottom:solid 1px transparent;
		border-image:linear-gradient(to right, #fdd 25%, transparent 67%);
		border-image-slice: 1;
		height:112px;
		position:absolute;
		top:0;
		width:75%;
	}

	div.map {
		border-left:solid 1px #fdd;
		height:140px;
	}

	div.map div div a[target='_blank'] {
		margin-left:0;
	}

	div.map img[src*='google_white'] {
		background:#a06;
		border-radius: 5px;
		box-shadow: 3px 4px #fc0;
		left:-6px !important;
		top:-3px !important;
	}

	div.editing {
		height:0;
		opacity:0;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-o-transition: all 1s ease;
		-ms-transition: all 1s ease;
		transition: all 1s ease;
	}

	img.switch {
		height:24px;
		right:40px;
		margin-right:-24px;
		top:8px;
		position:relative;
		width:auto;
	}

	.selection.right {
		margin-top:10px;
		text-align: right;
		margin-right:15px;
	}

	.selection.right label {
		vertical-align: middle;
	}

	.selection input {
		margin-left:16px;
		transform: scale(1.5);
		cursor:pointer;
	}

	.selection label {
		margin-left:10px;
	}

	@media only screen and (max-width: 35em) {
		div.frame {
			margin-bottom:0px;
			height:90px;
			width:90px;
		}
		div.frame.song img,
		div.frame.tube img,
		div.frame.user img {
			margin:10px;
			height:70px;
			width:70px;
		}
		div.frame.user img,
		div.frame.song img {
			border-radius:35px;
		}
		div.frame.song img {
			bottom:0;
			top:10px;
		}
		div.frame.user img {
			margin-left:0;
			margin-right:0;
			top:0;
		}
		div.card-main div.card-link {
			margin-left:0; }
	}

	#input-song-item--:checked ~ header span:not(:hover) label:not(.label-song--),
	#input-song-item-0:checked ~ header span:not(:hover) label:not(.label-song-0),
	#input-song-item-1:checked ~ header span:not(:hover) label:not(.label-song-1),
	#input-song-item-2:checked ~ header span:not(:hover) label:not(.label-song-2),
	#input-song-item-3:checked ~ header span:not(:hover) label:not(.label-song-3),
	#input-song-item-4:checked ~ header span:not(:hover) label:not(.label-song-4),
	#input-song-item-5:checked ~ header span:not(:hover) label:not(.label-song-5),
	#input-song-item-6:checked ~ header span:not(:hover) label:not(.label-song-6),
	#input-song-item-7:checked ~ header span:not(:hover) label:not(.label-song-7),
	#input-song-item-8:checked ~ header span:not(:hover) label:not(.label-song-8),
	#input-song-item-9:checked ~ header span:not(:hover) label:not(.label-song-9),
	.input-song--:checked ~ header span:not(:hover) label:not(.label-song--),
	.input-song-0:checked ~ header span:not(:hover) label:not(.label-song-0),
	.input-song-1:checked ~ header span:not(:hover) label:not(.label-song-1),
	.input-song-2:checked ~ header span:not(:hover) label:not(.label-song-2),
	.input-song-3:checked ~ header span:not(:hover) label:not(.label-song-3),
	.input-song-4:checked ~ header span:not(:hover) label:not(.label-song-4),
	.input-song-5:checked ~ header span:not(:hover) label:not(.label-song-5),
	.input-song-6:checked ~ header span:not(:hover) label:not(.label-song-6),
	.input-song-7:checked ~ header span:not(:hover) label:not(.label-song-7),
	.input-song-8:checked ~ header span:not(:hover) label:not(.label-song-8),
	.input-song-9:checked ~ header span:not(:hover) label:not(.label-song-9),
	#input-song-item-0:checked ~ #items3 article:not(.card-song-0),
	#input-song-item-1:checked ~ #items3 article:not(.card-song-1),
	#input-song-item-2:checked ~ #items3 article:not(.card-song-2),
	#input-song-item-3:checked ~ #items3 article:not(.card-song-3),
	#input-song-item-4:checked ~ #items3 article:not(.card-song-4),
	#input-song-item-5:checked ~ #items3 article:not(.card-song-5),
	#input-song-item-6:checked ~ #items3 article:not(.card-song-6),
	#input-song-item-7:checked ~ #items3 article:not(.card-song-7),
	#input-song-item-8:checked ~ #items3 article:not(.card-song-8),
	#input-song-item-9:checked ~ #items3 article:not(.card-song-9),
	#input-tube-item--:checked ~ header span:not(:hover) label:not(.label-tube--),
	#input-tube-item-0:checked ~ header span:not(:hover) label:not(.label-tube-0),
	#input-tube-item-1:checked ~ header span:not(:hover) label:not(.label-tube-1),
	#input-tube-item-2:checked ~ header span:not(:hover) label:not(.label-tube-2),
	#input-tube-item-3:checked ~ header span:not(:hover) label:not(.label-tube-3),
	#input-tube-item-4:checked ~ header span:not(:hover) label:not(.label-tube-4),
	#input-tube-item-5:checked ~ header span:not(:hover) label:not(.label-tube-5),
	#input-tube-item-6:checked ~ header span:not(:hover) label:not(.label-tube-6),
	#input-tube-item-7:checked ~ header span:not(:hover) label:not(.label-tube-7),
	#input-tube-item-8:checked ~ header span:not(:hover) label:not(.label-tube-8),
	#input-tube-item-9:checked ~ header span:not(:hover) label:not(.label-tube-9),
	.input-tube--:checked ~ header span:not(:hover) label:not(.label-tube--),
	.input-tube-0:checked ~ header span:not(:hover) label:not(.label-tube-0),
	.input-tube-1:checked ~ header span:not(:hover) label:not(.label-tube-1),
	.input-tube-2:checked ~ header span:not(:hover) label:not(.label-tube-2),
	.input-tube-3:checked ~ header span:not(:hover) label:not(.label-tube-3),
	.input-tube-4:checked ~ header span:not(:hover) label:not(.label-tube-4),
	.input-tube-5:checked ~ header span:not(:hover) label:not(.label-tube-5),
	.input-tube-6:checked ~ header span:not(:hover) label:not(.label-tube-6),
	.input-tube-7:checked ~ header span:not(:hover) label:not(.label-tube-7),
	.input-tube-8:checked ~ header span:not(:hover) label:not(.label-tube-8),
	.input-tube-9:checked ~ header span:not(:hover) label:not(.label-tube-9),
	#input-tube-item-0:checked ~ #items2 article:not(.card-tube-0),
	#input-tube-item-1:checked ~ #items2 article:not(.card-tube-1),
	#input-tube-item-2:checked ~ #items2 article:not(.card-tube-2),
	#input-tube-item-3:checked ~ #items2 article:not(.card-tube-3),
	#input-tube-item-4:checked ~ #items2 article:not(.card-tube-4),
	#input-tube-item-5:checked ~ #items2 article:not(.card-tube-5),
	#input-tube-item-6:checked ~ #items2 article:not(.card-tube-6),
	#input-tube-item-7:checked ~ #items2 article:not(.card-tube-7),
	#input-tube-item-8:checked ~ #items2 article:not(.card-tube-8),
	#input-tube-item-9:checked ~ #items2 article:not(.card-tube-9),
	#input-user-item--:checked ~ header span:not(:hover) label:not(.label-user--),
	#input-user-item-0:checked ~ header span:not(:hover) label:not(.label-user-0),
	#input-user-item-1:checked ~ header span:not(:hover) label:not(.label-user-1),
	#input-user-item-2:checked ~ header span:not(:hover) label:not(.label-user-2),
	#input-user-item-3:checked ~ header span:not(:hover) label:not(.label-user-3),
	#input-user-item-4:checked ~ header span:not(:hover) label:not(.label-user-4),
	#input-user-item-5:checked ~ header span:not(:hover) label:not(.label-user-5),
	#input-user-item-6:checked ~ header span:not(:hover) label:not(.label-user-6),
	#input-user-item-7:checked ~ header span:not(:hover) label:not(.label-user-7),
	#input-user-item-8:checked ~ header span:not(:hover) label:not(.label-user-8),
	#input-user-item-9:checked ~ header span:not(:hover) label:not(.label-user-9),
	.input-user--:checked ~ header span:not(:hover) label:not(.label-user--),
	.input-user-0:checked ~ header span:not(:hover) label:not(.label-user-0),
	.input-user-1:checked ~ header span:not(:hover) label:not(.label-user-1),
	.input-user-2:checked ~ header span:not(:hover) label:not(.label-user-2),
	.input-user-3:checked ~ header span:not(:hover) label:not(.label-user-3),
	.input-user-4:checked ~ header span:not(:hover) label:not(.label-user-4),
	.input-user-5:checked ~ header span:not(:hover) label:not(.label-user-5),
	.input-user-6:checked ~ header span:not(:hover) label:not(.label-user-6),
	.input-user-7:checked ~ header span:not(:hover) label:not(.label-user-7),
	.input-user-8:checked ~ header span:not(:hover) label:not(.label-user-8),
	.input-user-9:checked ~ header span:not(:hover) label:not(.label-user-9),
	#input-user-item-0:checked ~ #items1 article:not(.card-user-0),
	#input-user-item-1:checked ~ #items1 article:not(.card-user-1),
	#input-user-item-2:checked ~ #items1 article:not(.card-user-2),
	#input-user-item-3:checked ~ #items1 article:not(.card-user-3),
	#input-user-item-4:checked ~ #items1 article:not(.card-user-4),
	#input-user-item-5:checked ~ #items1 article:not(.card-user-5),
	#input-user-item-6:checked ~ #items1 article:not(.card-user-6),
	#input-user-item-7:checked ~ #items1 article:not(.card-user-7),
	#input-user-item-8:checked ~ #items1 article:not(.card-user-8),
	#input-user-item-9:checked ~ #items1 article:not(.card-user-9) { display: none; }

	#input-song-item--:checked ~ header span:hover label.label-song--,
	#input-song-item-0:checked ~ header span:hover label.label-song-0,
	#input-song-item-1:checked ~ header span:hover label.label-song-1,
	#input-song-item-2:checked ~ header span:hover label.label-song-2,
	#input-song-item-3:checked ~ header span:hover label.label-song-3,
	#input-song-item-4:checked ~ header span:hover label.label-song-4,
	#input-song-item-5:checked ~ header span:hover label.label-song-5,
	#input-song-item-6:checked ~ header span:hover label.label-song-6,
	#input-song-item-7:checked ~ header span:hover label.label-song-7,
	#input-song-item-8:checked ~ header span:hover label.label-song-8,
	#input-song-item-9:checked ~ header span:hover label.label-song-9,
	.input-song--:checked ~ header span:hover label.label-song--,
	.input-song-0:checked ~ header span:hover label.label-song-0,
	.input-song-1:checked ~ header span:hover label.label-song-1,
	.input-song-2:checked ~ header span:hover label.label-song-2,
	.input-song-3:checked ~ header span:hover label.label-song-3,
	.input-song-4:checked ~ header span:hover label.label-song-4,
	.input-song-5:checked ~ header span:hover label.label-song-5,
	.input-song-6:checked ~ header span:hover label.label-song-6,
	.input-song-7:checked ~ header span:hover label.label-song-7,
	.input-song-8:checked ~ header span:hover label.label-song-8,
	.input-song-9:checked ~ header span:hover label.label-song-9,
	#input-tube-item--:checked ~ header span:hover label.label-tube--,
	#input-tube-item-0:checked ~ header span:hover label.label-tube-0,
	#input-tube-item-1:checked ~ header span:hover label.label-tube-1,
	#input-tube-item-2:checked ~ header span:hover label.label-tube-2,
	#input-tube-item-3:checked ~ header span:hover label.label-tube-3,
	#input-tube-item-4:checked ~ header span:hover label.label-tube-4,
	#input-tube-item-5:checked ~ header span:hover label.label-tube-5,
	#input-tube-item-6:checked ~ header span:hover label.label-tube-6,
	#input-tube-item-7:checked ~ header span:hover label.label-tube-7,
	#input-tube-item-8:checked ~ header span:hover label.label-tube-8,
	#input-tube-item-9:checked ~ header span:hover label.label-tube-9,
	.input-tube--:checked ~ header span:hover label.label-tube--,
	.input-tube-0:checked ~ header span:hover label.label-tube-0,
	.input-tube-1:checked ~ header span:hover label.label-tube-1,
	.input-tube-2:checked ~ header span:hover label.label-tube-2,
	.input-tube-3:checked ~ header span:hover label.label-tube-3,
	.input-tube-4:checked ~ header span:hover label.label-tube-4,
	.input-tube-5:checked ~ header span:hover label.label-tube-5,
	.input-tube-6:checked ~ header span:hover label.label-tube-6,
	.input-tube-7:checked ~ header span:hover label.label-tube-7,
	.input-tube-8:checked ~ header span:hover label.label-tube-8,
	.input-tube-9:checked ~ header span:hover label.label-tube-9,
	#input-user-item--:checked ~ header span:hover label.label-user--,
	#input-user-item-0:checked ~ header span:hover label.label-user-0,
	#input-user-item-1:checked ~ header span:hover label.label-user-1,
	#input-user-item-2:checked ~ header span:hover label.label-user-2,
	#input-user-item-3:checked ~ header span:hover label.label-user-3,
	#input-user-item-4:checked ~ header span:hover label.label-user-4,
	#input-user-item-5:checked ~ header span:hover label.label-user-5,
	#input-user-item-6:checked ~ header span:hover label.label-user-6,
	#input-user-item-7:checked ~ header span:hover label.label-user-7,
	#input-user-item-8:checked ~ header span:hover label.label-user-8,
	#input-user-item-9:checked ~ header span:hover label.label-user-9,
	.input-user--:checked ~ header span:hover label.label-user--,
	.input-user-0:checked ~ header span:hover label.label-user-0,
	.input-user-1:checked ~ header span:hover label.label-user-1,
	.input-user-2:checked ~ header span:hover label.label-user-2,
	.input-user-3:checked ~ header span:hover label.label-user-3,
	.input-user-4:checked ~ header span:hover label.label-user-4,
	.input-user-5:checked ~ header span:hover label.label-user-5,
	.input-user-6:checked ~ header span:hover label.label-user-6,
	.input-user-7:checked ~ header span:hover label.label-user-7,
	.input-user-8:checked ~ header span:hover label.label-user-8,
	.input-user-9:checked ~ header span:hover label.label-user-9 { color: darkgray; }
}